
  <nav class="navbar">
    <ul>
        <li>
          <a >Home</a>
          <div > The Small Green Clinic </div>
        </li>
        <li>
          <a >About</a>
          <div style="font-size: 20px;"> We provide healthcare and support to our community. </div>
        </li>
        <li>
          <a href="#">Services</a>
          <div style="font-size: 20px;">Contact our clinic for information.</div>
        </li>
        <li><a href="#">Contact us</a>
          <div style="font-size: 20px;"><li>Email: smallgreenclinic@clinic.com</li>
            <br><li>Phone: +19603425676</li></div>
        </li>
        <div class="search">
          <form action="https://google.com/search" target="_blank" type="GET">


               <input type="search" name="q" placeholder="Search...">


            <input type="submit" value="Search">

          </form>

        </div>
    </ul>

</nav>
<img id="logo"src="assets/logoo.png">
<br>
<h1 id="title" style="background-color: rgba(141, 255, 141, 0.408);"> Small Green Clinic </h1>
<br><br>
<app-login></app-login>
<!-- <div *ngFor="let c of theClinic">  {{c.clinicName.toString()}} </div> -->
<!-- <div *ngFor="let patient of patients"> {{patient.imageUrl}} </div> -->

